<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MotionRider.Settings.Printing" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MotionRider.Settings.Uploading" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MotionRider.Settings.Login" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MotionRider.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MotionRider.Properties.Settings.motionrider_ConnectionString_Local"
      connectionString="Data Source=Strahlen;Initial Catalog=motionrider;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="MotionRider.Properties.Settings.motionrider_ConnectionString_Server"
      connectionString="Data Source=204.93.178.45;Initial Catalog=strahlen_motionrider_test;User ID=strahlen_motionrider;Password=dLkwl4Y552"
      providerName="System.Data.SqlClient" />
    <add name="MotionRider.Properties.Settings.MotionRiderConnectionString1"
      connectionString="Data Source=strahlen;Initial Catalog=MotionRider;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MotionRider.Properties.Global.motionrider_ConnectionString_Local"
      connectionString="Data Source=strahlen;Initial Catalog=MotionRider;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MotionRider.Properties.Settings.strahlen_motionrider_testConnectionString"
      connectionString="Data Source=204.93.178.45;Initial Catalog=strahlen_motionrider_test;User ID=strahlen_motionrider"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <MotionRider.Settings.Printing>
      <setting name="IsDoublePrintEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </MotionRider.Settings.Printing>
    <MotionRider.Settings.Uploading>
      <setting name="sales_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="closing_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="motion_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="slush_id" serializeAs="String">
        <value>0</value>
      </setting>
    </MotionRider.Settings.Uploading>
    <MotionRider.Settings.Login>
      <setting name="IsLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginDate" serializeAs="String">
        <value>2015-01-01</value>
      </setting>
      <setting name="LoginTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
    </MotionRider.Settings.Login>
    <MotionRider.Settings.App>
      <setting name="IceGolaCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MotionRideCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoginDate" serializeAs="String">
        <value>2015-02-01</value>
      </setting>
      <setting name="LoginTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="IsFirstLogin" serializeAs="String">
        <value>True</value>
      </setting>
    </MotionRider.Settings.App>
  </userSettings>
</configuration>
